anytree==2.8.0
appdirs==1.4.4
Beaker==1.11.0
btrfsutil==5.14.2
CacheControl==0.12.6
cffi==1.14.6
chardet==4.0.0
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==35.0.0
distlib==0.3.3
distro==1.6.0
dnspython==2.1.0
grapejuice==3.60.15
html5lib==1.1
idna==3.2
libtorrent===1.2.14-build-libtorrent-rasterbar-src-libtorrent-rasterbar-1.2.14-bindings-python
lxml==4.6.3
Mako==1.1.5
mallard-ducktype==1.0.2
Markdown==3.3.4
MarkupSafe==2.0.1
more-itertools==8.10.0
msgpack==1.0.2
nftables==0.1
ordered-set==4.0.2
packaging==20.9
pep517==0.11.0
ply==3.11
progress==1.6
psutil==5.8.0
pycparser==2.20
Pygments==2.10.0
PyGObject==3.40.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
requests==2.26.0
resolvelib==0.5.5
retrying==1.3.3
six==1.16.0
team==1.0
toml==0.10.2
tomli==1.2.1
urllib3==1.26.7
webencodings==0.5.1
wget==3.2
